@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('./fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('./fonts/HelveticaNeue\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('./fonts/HelveticaNeue\ Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'EpicaSansProBold';
  src: url('./fonts/EpicaSansPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'EpicaProRegular';
  src: url('./fonts/EpicaPro-Regular.otf') format('opentype');
}

.my-text1{
    font-family: 'EpicaSansProBold';
    font-weight: bold;
    letter-spacing: 1.6px;
}

.my-text2 {
  font-family: 'HelveticaNeueRegular';
  letter-spacing: 2.4px;
  font-weight: bolder;
  /*text-transform: uppercase;*/
}