@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('./fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('./fonts/HelveticaNeue\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('./fonts/HelveticaNeue\ Medium.ttf') format('truetype');
}

.pop-items name {
  font-family: 'HelveticaNeueMedium';
  letter-spacing: 2.6px;
  font-weight: lighter;
  text-transform: uppercase;
}
