@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('./fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('./fonts/HelveticaNeue\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('./fonts/HelveticaNeue\ Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ITCLegacySansBook';
  src: url('./fonts/ITCLegacySansBook-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EpicaSansProBold';
  src: url('./fonts/EpicaSansPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'EpicaProRegular';
  src: url('./fonts/EpicaPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
